
.table th {
    text-align: left;
    padding: 10px;
}


@media (max-width: 600px) {
    .header-recommendation-product-image::before {
        content: "Recommendation \a Product \a Image";
        white-space: pre;
    }
    .header-recommendation-title::before {
        content: "Recommendation \a Title";
        white-space: pre;
    }
    .header-recommendation-product-name::before {
        content: " Product \a Name";
        white-space: pre;
    }
    .header-recommendation-reason::before {
        content: "Reason ";
        white-space: pre;
    }
    .header-delete::before {
        content: "Delete";
        white-space: pre;
    }
    .header-recommendation-product-image,
    .header-recommendation-title,
    .header-recommendation-product-name,
    .header-recommendation-reason,
    .header-delete {
        white-space: normal;
    }
    .header-recommendation-product-image br,
    .header-recommendation-title br,
    .header-recommendation-product-name br,
    .header-recommendation-reason br,
    .header-delete br {
        display: none;
    }
    /* Hide original header content for mobile */
    .header-recommendation-product-image span,
    .header-recommendation-title span,
    .header-recommendation-product-name span,
    .header-recommendation-reason span,
    .header-delete span {
        display: none;
    }
}
